html {
  background-color: #687fbb;
  margin: 0 auto;
}

.App {
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}
button {
  padding: 5px;
}

.container {
  padding: 40px;
  margin-top: 200px;
  margin-bottom:100vmax;
}
.item {
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  background-color: aliceblue;
  box-shadow: rgba(255, 255, 255, 0.2) 1px 3px 6px 4px;
}
